// Environment variables for local development
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwOi8xMjcuMC4xMTo1OjE0MjoxMS9vdmVyL2F1dGgtYXB1L3N0dWZiL2F1dGgtYXB1L2lbi9hbGciOiJSU1FX1kifQ.p6ImF0cSI6ImV4cC1iwiJhbGciOiJSU1FX0ifQ.p6ImV4cCIsInYybWwiOiJub25lIiwicHJpbmVzIjpbFtIn0LmpjaWlqZW1wIjoic3ViLCJhcGlfcyIjpb3J9ImVlYmFfQ.IsInBybWwiOiJsb2MiLCJhdHRwczovL2E1aGVtLWFwa2V0c2VwYXBwL2FsLm1ldHViL29wIn0aWUiOiJmb2IiLCJkIjoiYXB1L2F1Iiwic2MiOiJub25lLCJhcGlfcyIjpb3J9ImRldWVfQ.IwiaXAiOiIiLCJkIjoiYXB1L2F1Iiwic2MiOiJub25lLCJhcGlfcyIjpb3J9Iml2ZXNlZXB1ciIsImVybCJ9.ImVybCI6ImNpbGUiOjEyNDg4MDI1LCJpYXNwaXJlIjoiaHRwczovLzEyNzcuMC4xMToxOjQ6NTgzOjIwLjEwMDE3OjU3OjAifQ.
